#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  background: linear-gradient(0deg, #323bea, #ffff);
  background-repeat: no-repeat;
  padding: "15px" !important;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
